@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
#app {
    height: 100vh;
}

.rainbow-shadow:before,
.rainbow-shadow:after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    content: "";
    background: linear-gradient(
        -45deg,
        #f00,
        #ff0,
        #0f0,
        #0ff,
        #00f,
        #f0f,
        #f00,
        #ff0,
        #0f0,
        #0ff,
        #00f,
        #f0f,
        #f00,
        #ff0,
        #0f0
    );
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    mix-blend-mode: color;
    z-index: -10;
    background-size: 200%;
    @apply rounded-l-xl;

    animation: rainbow 3s linear infinite;
}

.bg-blue-600.rainbow-shadow:before,
.bg-blue-600.rainbow-shadow:after {
    background: linear-gradient(
        45deg,
        #f00,
        #ff0,
        #0f0,
        #0ff,
        #00f,
        #f0f,
        #f00,
        #ff0,
        #0f0,
        #0ff,
        #00f,
        #f0f,
        #f00,
        #ff0,
        #0f0
    );
    background-size: 200%;
    animation-direction: reverse;
    @apply rounded-l-none;
    @apply rounded-r-xl;
}

.amplified.rainbow-shadow:before,
.amplified.rainbow-shadow:after {
    opacity: 1;
}

.rainbow-shadow:before {
    filter: blur(20px);
}

@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
